<div class="admin-login">
    <div class="admin-container admin-login__container">
        <form action="#" class="admin-login__card">
            <h1 class="admin-login__header">Вход</h1>
            <label class="admin-login__field admin-field">
                <span class="admin-field__text">E-mail</span>
                <input class="admin-login__field__input admin-field__input" type="email" name="email">
            </label>
            <label class="admin-login__field admin-field">
                <span class="admin-field__text">Пароль</span>
                <input class="admin-login__field__input admin-field__input" type="password" name="password">
            </label>
            <div class="admin-login__nav">
                <a href="./reset-password.html" class="admin-login__reset-link">Сбросить пароль?</a>
                <a href="./register.html" class="admin-login__register-link">Зарегистрироваться</a>
            </div>
            <button type="submit" class="admin-btn admin-login__submit">Войти</button>
        </form>
    </div>
</div>