{{#> components/layout.hbs }}
    {{#if ctx.alerts}}
        {{#each ctx.alerts}}
            {{> components/alert.hbs index=@index type=style content=content close=true }}
        {{/each}}
    {{/if}}

    {{#if breadcrumbs}}
        {{> components/breadcrumb.hbs breadcrumbs=breadcrumbs }}
    {{/if}}

    <h1>Профиль, ID:{{ctx.user.id}} {{ctx.user.email}}!</h1>

{{/components/layout.hbs}}