.admin-c-radio {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-color), 0.5);
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-radius: 0.3em;
    vertical-align: middle;
    line-height: 1.5;
}

.admin-c-radio > .admin-c-radio__svg-icon {
    fill: currentColor;
    display: inline-block;
    vertical-align: top;
    /*position: relative;*/
    /*top: -0.1em;*/
    /*margin-right: 0.2em;*/
    margin-right: 0.1em;
    width: 1.5em;
    height: 1.5em;
    /*transform: scale(1.1);*/
    box-shadow: inset 0 0 0 0.2em currentColor;
    border-radius: 1em;
}

.admin-c-radio--without-text:focus {
    box-shadow: none;
}

.admin-c-radio--without-text:focus > .admin-c-radio__svg-icon {
    box-shadow: inset 0 0 0 0.2em currentColor, var(--admin-app-focus-box-shadow);
}

.admin-c-radio--without-text > .admin-c-radio__svg-icon {
    margin-right: 0;
}

.admin-c-radio__svg-icon circle {
    opacity: 0;
}

.admin-c-radio__input:checked ~ .admin-c-radio__svg-icon circle {
    opacity: 1;
}

.admin-c-radio__input:disabled ~ .admin-c-radio__svg-icon, .admin-c-radio__input:disabled ~ .admin-c-radio__text {
    opacity: 0.5;
    cursor: auto;
}

.admin-accent.admin-c-radio {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-accent-color), 0.5);
    color: rgb(var(--admin-app-accent-color));
}

.admin-success.admin-c-radio {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-success-color), 0.5);
    color: rgb(var(--admin-app-success-color));
}

.admin-danger.admin-c-radio {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-danger-color), 0.5);
    color: rgb(var(--admin-app-danger-color));
}
