<div class="admin-tags">
    <div class="admin-tag">
        <div class="admin-tag__name">Цвет:</div>
        <div class="admin-tag__value">
            Черный
            <a href="#" class="admin-tag__close"></a>
        </div>
        <div class="admin-tag__value">
            Белый
            <a href="#" class="admin-tag__close"></a>
        </div>
    </div>
    <div class="admin-tag">
        <div class="admin-tag__name">Размер:</div>
        <div class="admin-tag__value">
            38
            <a href="#" class="admin-tag__close"></a>
        </div>
        <div class="admin-tag__value">
            40
            <a href="#" class="admin-tag__close"></a>
        </div>
        <div class="admin-tag__value">
            42
            <a href="#" class="admin-tag__close"></a>
        </div>
    </div>
</div>