{{#> components/login.hbs lang=locale.code dark_mode=dark_mode title=title }}
    <div class="admin-login">
        <div class="admin-container admin-login__container">
            <div class="admin-login__card">
                {{#if status_code}}
                    <h1 class="admin-login__header">{{status_code}}</h1>
                {{/if}}
                {{#if error_message}}
                    {{error_message}}
                {{/if}}
            </div>
        </div>
    </div>
{{/components/login.hbs}}
