<div class="admin-b-tabs">
    <input id="admin-b-tabs__0" class="admin-b-tabs__checkbox" type="radio" name="admin-b-tabs" hidden checked>
    <input id="admin-b-tabs__1" class="admin-b-tabs__checkbox" type="radio" name="admin-b-tabs" hidden>
    <nav class="admin-b-tabs__nav">
        <label for="admin-b-tabs__0" class="admin-b-tabs__link">RU</label>
        <label for="admin-b-tabs__1" class="admin-b-tabs__link">EN</label>
    </nav>
    <div class="admin-b-tabs__content">
        <div class="admin-b-tabs__pane">RU</div>
        <div class="admin-b-tabs__pane">EN</div>
    </div>
</div>