<nav aria-label="breadcrumb">
    <ol class="admin-breadcrumb">
        <li class="admin-breadcrumb__item"><a href="#" class="admin-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
        <li class="admin-breadcrumb__item"><a href="#" class="admin-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
        <li class="admin-breadcrumb__item"><a href="#" class="admin-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
        <li class="admin-breadcrumb__item"><a href="#" class="admin-breadcrumb__link">Lorem ipsum dolor sit amet</a></li>
        <li class="admin-breadcrumb__item admin-breadcrumb__item--active" aria-current="page">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </li>
    </ol>
</nav>