<nav aria-label="breadcrumb">
    <ol class="admin-breadcrumb">
        {{#each breadcrumbs}}
            {{#if @last}}
                <li class="admin-breadcrumb__item admin-breadcrumb__item--active" aria-current="page">{{label}}</li>
            {{else}}
                <li class="admin-breadcrumb__item"><a href="{{href}}" class="admin-breadcrumb__link">{{label}}</a></li>
            {{/if}}
        {{/each}}
    </ol>
</nav>