<label class="admin-checkbox">
    <input class="admin-checkbox__input" type="checkbox" name="{{name}}" value="{{value}}" hidden
        {{#if checked}} checked {{/if}}
        {{#if form}} form="{{form}}" {{/if}}
    >
    <span class="admin-checkbox__box"></span>
    <span class="admin-checkbox__text">{{label}}</span>
</label>