<label for="admin-collapse__1" class="admin-btn">Show data</label>
<input id="admin-collapse__1" class="admin-collapse__checkbox" type="checkbox" name="admin-collapse__1"
       hidden="hidden">
<div class="admin-collapse">
    Some placeholder content for the collapse component. This panel is hidden by default but
    revealed when the user activates the relevant trigger.
</div>