<label for="admin-modal__1" class="admin-btn admin-btn">
    Open Modal
</label>
<input id="admin-modal__1" class="admin-modal__checkbox" type="checkbox" name="admin-modal__1"
       hidden>
<div class="admin-modal" tabindex="-1">
    <label for="admin-modal__1" class="admin-modal__backdrop"></label>
    <div class="admin-modal__dialog">
        <div class="admin-modal__content">
            <div class="admin-modal__header">
                <h5 class="admin-modal__title">Modal title</h5>
                <label for="admin-modal__1" class="admin-modal__close-btn" aria-label="Close"></label>
            </div>
            <div class="admin-modal__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium assumenda
                dicta dignissimos dolore ex minima natus vitae. Consequuntur, dolorem iste?
                Exercitationem hic itaque natus quisquam quo recusandae saepe totam!

            </div>
            <div class="admin-modal__footer" style="display: flex; flex-wrap: wrap;">
                <button type="button" class="admin-btn admin-success"
                        style="margin-right: 1rem;">
                    Save changes
                </button>
                <label for="admin-modal__1" class="admin-btn admin-danger"
                       style="margin-left: auto;">Close</label>
            </div>
        </div>
    </div>
</div>