<nav aria-label="Page navigation">
    <ul class="admin-pagination">
        {{#each pagination_nums as |num|}}
            {{#if (ne num -1)}}
                {{#if (eq num 0)}}
                    <li class="admin-pagination__item"><span class="admin-pagination__link">...</span></li>
                {{else}}
                    <li class="admin-pagination__item">
                        <a href="{{../pagination_link}}{{num}}"
                           class="admin-pagination__link{{#if (eq num ../page)}} admin-active{{/if}}"
                        >
                            {{num}}
                        </a>
                    </li>
                {{/if}}
            {{/if}}
        {{/each}}
    </ul>
</nav>