<label class="admin-radio">
    <input class="admin-radio__input" type="radio" name="example-name" hidden>
    <span class="admin-radio__box"></span>
    <span class="admin-radio__text">Example</span>
</label>