<div class="admin-tabs admin-tabs--menu-mod-xs">
    <input id="admin-tabs__0" class="admin-tabs__checkbox" type="radio" name="admin-tabs__1" hidden checked>
    <input id="admin-tabs__1" class="admin-tabs__checkbox" type="radio" name="admin-tabs__1" hidden>
    <input id="admin-tabs--menu-checkbox" class="admin-tabs__menu-checkbox" type="checkbox" hidden>
    <label for="admin-tabs--menu-checkbox" class="admin-tabs__menu-label">
        <span class="admin-tabs__burger"></span>
    </label>
    <nav class="admin-tabs__nav">
        <label for="admin-tabs__0" class="admin-tabs__link">Lorem 1</label>
        <label for="admin-tabs__1" class="admin-tabs__link">Lorem 2</label>
    </nav>
    <div class="admin-tabs__content">
        <div class="admin-tabs__pane">
            Content 1
        </div>
        <div class="admin-tabs__pane">
            Content 2
        </div>
    </div>
</div>