{{#if values}}
    <div class="admin-tag">
        <div class="admin-tag__name">{{label}}:</div>
        {{#each values as |value|}}
            <div class="admin-tag__value">
                {{value.label}}
                {{#if value.reset}}
                    <a href="{{value.reset.href}}" class="admin-tag__close" aria-label="{{value.reset.label}}"></a>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/if}}