<div class="admin-table__responsive">
    <table class="admin-table admin-table--hover">
        <thead class="admin-table__thead">
        <tr class="admin-table__tr">
            <th class="admin-table__th" scope="col">#</th>
            <th class="admin-table__th" scope="col">First</th>
            <th class="admin-table__th" scope="col">Last</th>
            <th class="admin-table__th" scope="col">Handle</th>
        </tr>
        </thead>
        <tbody class="admin-table__tbody">
        <tr class="admin-table__tr">
            <th class="admin-table__th" scope="row">1</th>
            <td class="admin-table__td">Mark</td>
            <td class="admin-table__td">Otto</td>
            <td class="admin-table__td">@mdo</td>
        </tr>
        <tr class="admin-table__tr admin-table--active">
            <th class="admin-table__th" scope="row">2</th>
            <td class="admin-table__td">Mark</td>
            <td class="admin-table__td">Otto</td>
            <td class="admin-table__td">@mdo</td>
        </tr>
        <tr class="admin-table__tr">
            <th class="admin-table__th" scope="row">3</th>
            <td class="admin-table__td" colspan="2">Larry the Bird</td>
            <td class="admin-table__td admin-table--active">@mdo</td>
        </tr>
        </tbody>
    </table>
</div>