.admin-alert {
    position: relative;
    padding: 0.8rem;
    color: currentColor;
    background-color: transparent;
    border: 0.0625rem solid;
    border-radius: 0.3rem;
}

.admin-alert.admin-accent {
    color: rgb(var(--admin-app-color));
    background-color: rgba(var(--admin-app-accent-color), 0.2);
    border-color: rgba(var(--admin-app-accent-color), 0.3);
}

.admin-alert.admin-success {
    color: rgb(var(--admin-app-color));
    background-color: rgba(var(--admin-app-success-color), 0.2);
    border-color: rgba(var(--admin-app-success-color), 0.3);
}

.admin-alert.admin-danger {
    color: rgb(var(--admin-app-color));
    background-color: rgba(var(--admin-app-danger-color), 0.2);
    border-color: rgba(var(--admin-app-danger-color), 0.3);
}