.admin-b-radio__label {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: 1.7em;
    border-radius: 0.3em;
}

.admin-b-radio__label:before, .admin-b-radio__label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.3em;
    height: 1.3em;
    background: currentColor;
    border-radius: 0.3em;
    transform-origin: center;
}

.admin-b-radio__label:before, .admin-b-radio__label:after {
    border-radius: 50%;
}

.admin-b-radio__label:before {
    opacity: 0.2;
}

.admin-b-radio__label:after {
    transform: scale(0.5);
    opacity: 0;
}

.admin-b-radio:checked ~ .admin-b-radio__label:after {
    opacity: 1;
}

.admin-b-radio:disabled ~ .admin-b-radio__label {
    opacity: 0.5;
    cursor: auto;
}

.admin-b-radio:focus ~ .admin-b-radio__label,
.admin-b-radio__label:focus {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-color), 0.5);
    box-shadow: var(--admin-app-focus-box-shadow);
    outline: none;
}

.admin-accent > .admin-b-radio__label,
.admin-b-radio.admin-accent ~ .admin-b-radio__label {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-accent-color), 0.5);
    color: rgb(var(--admin-app-accent-color));
}

.admin-success > .admin-b-radio__label,
.admin-b-radio.admin-success ~ .admin-b-radio__label {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-success-color), 0.5);
    color: rgb(var(--admin-app-success-color));
}

.admin-danger > .admin-b-radio__label,
.admin-b-radio.admin-danger ~ .admin-b-radio__label {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-danger-color), 0.5);
    color: rgb(var(--admin-app-danger-color));
}

.admin-accent > .admin-b-radio__label:after,
.admin-b-radio.admin-accent ~ .admin-b-radio__label:after,
.admin-success > .admin-b-radio__label:after,
.admin-b-radio.admin-success ~ .admin-b-radio__label:after,
.admin-danger > .admin-b-radio__label:after,
.admin-b-radio.admin-danger ~ .admin-b-radio__label:after {
    color: rgb(var(--admin-app-color));
}