.admin-input {
    display: block;
    width: 100%;
    padding: .3rem .7rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(var(--admin-app-color));
    appearance: none;
    background-color: rgb(var(--admin-app-background-color));
    background-clip: padding-box;
    border: 0.0625rem solid rgba(var(--admin-app-color), 0.2);
    border-radius: 0.3rem;
    outline: none;
}

.admin-input[type="range"] {
    height: 0.2rem;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
.admin-input::-webkit-outer-spin-button,
.admin-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.admin-input[type=number] {
    -moz-appearance: textfield;
}

select.admin-input {
    width: fit-content;
}

input.admin-input:read-only, input.admin-input:disabled,
select.admin-input:disabled {
    background-color: rgba(var(--admin-app-color), 0.1);
}

.admin-input[type="range"]:disabled {
    opacity: 0.5;
}

input.admin-input:read-only:focus, input.admin-input:disabled:focus,
select.admin-input:disabled:focus {
    box-shadow: none;
}

input.admin-input[type="file"], input.admin-input[type="file"]:read-only, input.admin-input[type="file"]:disabled {
    background: transparent;
    display: inline-block;
    width: fit-content;
    border: none;
}

.admin-input::file-selector-button {
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.admin-success > .admin-input__label {
    color: rgb(var(--admin-app-success-color));
}

.admin-success > .admin-input {
    border-color: rgb(var(--admin-app-success-color));
}

.admin-success > .admin-input:focus {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-success-color), 0.5);
}

.admin-success > .admin-input[type="range"] {
    color: rgb(var(--admin-app-success-color));
    background-color: rgb(var(--admin-app-success-color));
}

.admin-danger > .admin-input__label {
    color: rgb(var(--admin-app-danger-color));
}

.admin-danger > .admin-input {
    border-color: rgb(var(--admin-app-danger-color));
}

.admin-danger > .admin-input:focus {
    --admin-app-focus-box-shadow: 0 0 0 2px rgba(var(--admin-app-danger-color), 0.5);
}

.admin-danger > .admin-input[type="range"] {
    color: rgb(var(--admin-app-danger-color));
    background-color: rgb(var(--admin-app-danger-color));
}