{{#> components/layout.hbs user=user lang=lang dark_mode=dark_mode title=title }}
    {{#if alerts}}
        {{#each alerts}}
            {{> components/alert.hbs index=@index type=style content=content close=true }}
        {{/each}}
    {{/if}}

    <nav aria-label="breadcrumb">
        <ol class="admin-breadcrumb">
            <li class="admin-breadcrumb__item admin-breadcrumb__item--active" aria-current="page">Панель
                управления
            </li>
        </ol>
    </nav>

    <h1>Панель управления</h1>

    {{#if user and user.id and user.email}}
        <h1>Привет, ID:{{user.id}} {{user.email}}!</h1>
    {{else}}
        <h1>Привет, незнакомец!</h1>
    {{/if}}
{{/components/layout.hbs}}