<div class="admin-menu">
    <ul class="admin-menu__list">
        <li class="admin-menu__list__item">
            <a href="#" class="admin-menu__list__link">
                Поиск и выбор товаров
            </a>
        </li>
        <li class="admin-menu__list__item">
            <a href="#" class="admin-menu__list__link">
                Как выбрать из нескольких моделей
            </a>
        </li>
        <li class="admin-menu__list__item">
            <input id="admin-menu__list__checkbox--1" class="admin-menu__list__checkbox" type="checkbox" hidden="hidden" checked>
            <label for="admin-menu__list__checkbox--1" class="admin-menu__list__label"></label>
            <a href="#" class="admin-menu__list__link">
                Поиск и выбор товаров
            </a>
            <ul class="admin-menu__list" style="--admin-items-count: 3">
                <li class="admin-menu__list__item admin-active">
                    <a href="#" class="admin-menu__list__link">
                        Поиск и выбор товаров
                    </a>
                </li>
                <li class="admin-menu__list__item">
                    <a href="#" class="admin-menu__list__link">
                        Как выбрать из нескольких моделей
                    </a>
                </li>
                <li class="admin-menu__list__item">
                    <a href="#" class="admin-menu__list__link">
                        Как выбрать товар в конкретном магазине
                    </a>
                </li>
            </ul>
        </li>
        <li class="admin-menu__list__item">
            <a href="#" class="admin-menu__list__link">
                Поиск и выбор товаров
            </a>
        </li>
        <li class="admin-menu__list__item">
            <a href="#" class="admin-menu__list__link">
                Как выбрать из нескольких моделей
            </a>
        </li>
    </ul>
</div>